:root {
    /* Primary */

    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral */

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
}
.title {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--grayish-blue);
}
.title-h2 {
    margin-bottom: 12px;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--very-dark-blue);
}
.title-p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--grayish-blue);
    text-align: center;
}
.card__section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 1250px;
    padding-bottom: 40px;
    padding-top: 14px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 88%;
    max-width: 370px;
    height: 240px;
    padding: 30px;
    box-shadow: 0px 14px 27px -10px rgba(0,0,0,0.75);
    border-radius: 8px;
    border-top: 6px solid var(--cyan);
}
.card:nth-child(2) {
    border-top: 6px solid var(--red);
}
.card:nth-child(3) {
    border-top: 6px solid var(--orange);
}
.card:nth-child(4) {
    border-top: 6px solid var(--blue);
}
.subtitle {
    margin-bottom: 6px;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--very-dark-blue);
}
.card-p {
    font-size: 1.4rem;
    color: var(--grayish-blue);
}
.card img {
    width: 50px;
    align-self: flex-end;
}
@media(min-width:1210px) {
    .title {
        font-size: 2.4rem;
    }
    .title-h2 {
        font-size: 2.4rem;
    }
    .title-p {
        font-size: 1.4rem;
    }
    .card:nth-child(1) {
        position: absolute;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
    }
    .card:nth-child(4) {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
    } 
}